---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const pageTitle = "Bienvenue chez NTI-Consulting";
const description =
	" NTI-Consulting peut soutenir et ameloirer la croissance de votre entreprise.";
const link = "#contacts";
const services = await getCollection("services");

import img1 from "../../assets/p2.jpg";

const WhyUs = [
	{
		icon: "❿",
		point: "Conseils d'Experts",
		reason: "Notre équipe de professionnels expérimentés fournit des conseils d'experts et un soutien à chaque étape de votre parcours professionnel.",
	},
	{
		icon: "⛱",
		point: "Solutions Personnalisées ",
		reason: "Nous comprenons que chaque entreprise est unique, et nous adaptons nos services pour répondre aux besoins spécifiques de chaque client",
	},
	{
		icon: "🌱",
		point: "Engagement envers le Succès",
		reason: "Nous nous engageons à promouvoir le succès de nos clients et à les aider à atteindre leurs objectifs commerciaux.",
	},
	{
		icon: "⛏",
		point: "Vos concurrents s'ameloire, pourquoi pas vous?",
		reason: "Nous garantissont que nos services vous permettrons d'etiendre vos competiteurs si tel est votre desir. Contactez-nous Prêt à faire passer votre entreprise au niveau supérieur ?",
	},
];
---

<Layout title={pageTitle} description={description} link={link}>
	<main class="container">
		<h2 class="aft tx-cn">Bienvenu</h2>

		<p>
			NTI Business Consulting est une team de spécialisés dans
			l'élaboration de plans d'affaires solides et la réalisation d'études
			de faisabilité économique pour aider les entreprises à prospérer
			dans le paysage concurrentiel d'aujourd'hui. Notre équipe d'experts
			est dédiée à fournir des solutions sur mesure qui répondent aux
			besoins uniques de chaque client.
		</p>

		<p>
			Au Cameroun, le taux de fermeture des entreprises par an est estimé
			à 20% pour les moyennes entreprises(ME) ; 31% pour les petites
			entreprises (PE) ; 39% pour les très petites entreprises (TPE). Cela
			résulte en partie des étapes manquées à la création ainsi qu'aux
			suivis des entreprises au cours de leurs exploitations. Grâce à nos
			services, vous avez l'assurance de prospérer.
		</p>

		<h2 class="aft tx-cn">Le plus de NTI-Consulting</h2>
	</main>

	<article class="slide">
		<!-- <img class="slide-left" src={img1.src} alt="'img1" /> -->
		{
			WhyUs.map((item) => (
				<section class="slide-top">
					<h1>{item.icon}</h1>
					<h3>{item.point} </h3>
					<p>{item.reason}</p>
				</section>
			))
		}
	</article>

	<main>
		<h2 class="aft tx-cn">Nos Services</h2>

		<div>
			<p>
				Nous offerons une varietes unique de services dans le but de
				vous apporter les meilleurs solutions possible. Le plus souvant
				nous sommes soliciter pour des services tels que:
				{services.map((service) => <span>{service.data.title}, </span>)}
			</p>

			<a class="cbtn" href={"/nti-consulting/services/"}>
				Voir Plus Sur Nos Services ➝</a
			>
		</div>
	</main>
</Layout>

<style>
	article {
		display: grid;
		grid-template-columns: 1fr;
		justify-content: space-between;
		gap: 1rem;
		height: fit-content;
		padding: 4rem 1rem;
		margin-bottom: 2rem;
	}

	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid #8f8989;
		border-radius: 12px;
		padding: 1rem;
		grid-area: auto;
	}

	img {
		max-height: 1fr;
		max-width: 1fr;
	}

	@media (min-width: 640px) {
		article {
			grid-template-columns: repeat(3, 1fr);
		}

		section:nth-of-type(2) {
			grid-area: auto/auto/span 2 / span 2;
		}

		section:last-of-type {
			grid-area: auto/auto/span 1 / span 3;
		}
	}
</style>
