---
import Layout from "../../layouts/Layout.astro";
import Partner from "../../components/Partner.astro";
const pageTitle = "About";
const description =
    " Nous sommes fiers de notre partenariat avec nos clients et de notre contribution à leur succès.";
// images
import img1 from "../../assets/p1.jpg";
import img2 from "../../assets/p2.jpg";
import img3 from "../../assets/p3.jpg";
import Accordion from "../../components/Accordion.astro";

const partners = [
    {
        name: "DELAWARE Sarl",
        role: "Accounting, audit & consulting firm",
        description:
            "DELAWARE SARL is an accounting, audit, and consulting firm specializing in project development, management, and monitoring of companies.",
        image: img1,
    },
    {
        name: "Nti Biloa Alphonse Emmanuel",
        role: "Auditor & Project Manager",
        description:
            "The versatile man of the team. An economist by training and business-trained, he specializes in auditing, business plan design, and procedure manual writing.",
        image: img2,
    },
    {
        name: "Biloa Anaba Gaspard",
        role: "Certified Project Manager",
        description:
            "A meticulous specialist with numerous skills. He is known for his involvement in the Plantains project in Ndjolé, Cameroon, and many others.",
        image: img3,
    },
    {
        name: "Anaba Marieette Léa",
        role: "Auditor & Management Controller",
        description:
            "The rare and inspiring jewel of our team. A graduate of Essec & IUGET who provides services such as management control and inventory.",
        image: img3,
    },
];

const faq = [
    {
        question: "What we do",
        answer: "Business plan - Project development and economic feasibility study, Accounting, financial, and organizational audits, Statutory audits, Contribution audits, Administrative, financial, and accounting procedures manual; • Review and certification of financial statements; • Inventories and others",
    },
    {
        question: "What services do you offer?",
        answer: "We offer a complete range of services from strategic consultation to operational implementation. Our areas of expertise include financial management, business strategy, regulatory compliance, and much more.",
        plus: "/nti-consulting/en/services",
    },
    {
        question: "How can I make an appointment with your team?",
        answer: "To make an appointment with our team, please fill out the contact form on our website or call us directly. We will be happy to discuss your needs and find solutions tailored to your business.",
        plus: "#contacts",
    },
    {
        question: "What is your approach to data confidentiality?",
        answer: "Data protection and confidentiality are priorities for us. We adhere to the strictest standards in data protection and are committed to ensuring the security and confidentiality of our clients' information.",
        plus: "/nti-consulting/en/privacy-policy",
    },
];
---

<Layout title={pageTitle} description={description}>
    <main class="container">
        <h1 class="aft tx-cn">A props de Nous</h1>

        <p>
            NTI BUSINESS CONSULTING is a platform bringing together an
            accounting, audit, and consulting firm, project managers, and other
            specialists necessary for the development of your business.
        </p>

        <h2 class="aft tx-cn">Our Team & Nos Partners</h2>

        <div class="list">
            {partners.map((item) => <Partner info={item} />)}
        </div>

        <h2 class="aft tx-cn">Our Vision</h2>
        <p>
            We aim to be your trusted partner to provide reliable and decisive
            assistance for the development of your business.
        </p>
        <p>
            Our team of experts is dedicated to providing tailored solutions
            that meet the unique needs of each client. This is to enable many
            businesses to grow and contribute to the development of our
            continent, Cameroon.
        </p>

        <h3>Our Clients</h3>
        <p>
            We have had the privilege of working with a diverse range of
            clients, from small to medium-sized businesses, as well as other
            public organizations and institutions in Cameroon and abroad. The
            trust our clients place in us reflects our commitment to the
            quality, reliability, and personalized service we offer.
        </p>

        <p>These include:</p>

        <ul class="slider">
            <li class="fade-in">Public Institutions and Enterprises</li>
            <li>NGOs and many non-profit organizations that fundraise</li>
            <li class="slide-left">Non-Governmental Organizations</li>
            <li>Private Companies</li>
            <li class="slide-right">Merchants and Various Entrepreneurs</li>
            <li class="fade-in">and many more</li>
        </ul>

        <h2 class="aft tx-cn">F.A.Q <br /> (Frequently asked questions).</h2>

        {
            faq.map((item) => (
                <Accordion
                    question={item.question}
                    answer={item.answer}
                    plus={item.plus}
                />
            ))
        }
    </main>
</Layout>

<style>
    .list {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        margin: 3rem auto;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        list-style: none;
    }

    li {
        padding: 1rem 2rem;
        font-weight: bolder;
        border-radius: 12px;
        cursor: pointer;
        user-select: none;
        font-size: 1.2em;
    }

    li:hover {
        background: var(--cm-clr);
        color: var(--nt-clr);
    }

    @media (min-width: 640px) {
        .list {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    }
</style>
