---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const pageTitle = "Nos Services";
const description ="❝Demander un service à quelqu'un est le plus souvent la plus haute marque de considération que puisse lui donner un homme fort de son caractère et de sa propre estime.❞_ Paul Thiébault";

const services = await getCollection("services");
---

<Layout title={pageTitle} description={description}>
    <main class="container">
        <h2 class="aft tx-cn">Nos Services</h2>

        <p>
            NTI Business Consulting est une team de spécialisés dans
            l'élaboration de plans d'affaires solides et la réalisation d'études
            de faisabilité économique pour aider les entreprises à prospérer
            dans le paysage concurrentiel d'aujourd'hui. Notre équipe d'experts
            est dédiée à fournir des solutions sur mesure qui répondent aux
            besoins uniques de chaque client.
        </p>

        <h2>Nos Services</h2>
        <ul>
            {
                services.map((service) => (
                    <li class="slide slide-top">
                        <img class='img' src={''} alt={service.data.image.alt} />
                        <h3>{service.data.title}</h3>
                        <p>{service.data.description}</p>
                        <a class="sbtn" href={"/nti-consulting/service/" + service.slug}>
                            plus ➝
                        </a>
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>

<style>

    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        max-width: 320px;
        width: 100%;
    }

    .sbtn {
        border-radius: 12px;
        background: var(--cm-clr);
        color: var(--nt-clr);
        padding:0.4em 0.7em;
    }

    .sbtn:hover {
        background: var(--pr-clr);
    }

</style>
