---
import { getCollection } from "astro:content";
import { ui } from "../i18n/ui";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const services = await getCollection("services");
const filteredServices = await services.filter((service) =>
    service.slug.includes(lang + "/"),
);

import Logo from "./Logo.astro";
import FooterAccordion from "./FooterAccordion.astro";


const targets = {
    pages: [
        { name: t("nav.home"), link: "/nti-consulting/" + lang },
        { name: t("nav.services"), link: `/nti-consulting/${lang}/services` },
        { name: t("nav.about"), link: `/nti-consulting/${lang}/about` },
    ],
    services: [
        { name: "Business plan", link: "/nti-consulting/"+lang+"/services/service-1" },
        { name: "Consultations", link: "/nti-consulting/"+lang+"/services/service-2" },
        { name: "ficalites", link: "/nti-consulting/"+lang+"/services/service-3"},
    ],
    clients: [
        { name: "Page in English", link: "/nti-consulting/en" },
        { name: "Site en francais", link: "/nti-consulting/fr" },
        {
            name: "termes & conditions",
            link: "/nti-consulting/"+lang+"/termes-et-conditions",
        },
        {
            name: "politique de condiidentialites",
            link: "/nti-consulting/"+lang+"/termes-et-conditions",
        },
    ],
};
---

<footer class="container">
    <section>
        <Logo />

        <p>{t("follow.us")}</p>

        <p>
            <a href="#">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14"
                    height="14"
                    viewBox="0 0 24 24"
                    ><path
                        fill="currentColor"
                        d="M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64L12 9.548l6.545-4.91l1.528-1.145C21.69 2.28 24 3.434 24 5.457"
                    ></path></svg
                >
            </a>
            <a href="#">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14"
                    height="14"
                    viewBox="0 0 24 24"
                    ><path
                        fill="currentColor"
                        fill-rule="evenodd"
                        d="M23 0H1a1 1 0 0 0-1 1v22a1 1 0 0 0 1 1h11.75v-9h-3v-3.75h3v-3c0-3.1 1.963-4.625 4.728-4.625c1.324 0 2.463.099 2.794.142v3.24l-1.917.001c-1.504 0-1.855.715-1.855 1.763v2.479h3.75L19.5 15h-3l.06 9H23a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1"
                    ></path></svg
                >
            </a>

            <a href="#">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    ><path
                        fill="currentColor"
                        d="M8 0C3.581 0 0 3.581 0 8s3.581 8 8 8s8-3.581 8-8s-3.581-8-8-8m3.931 5.484l-1.313 6.184c-.091.441-.356.544-.725.341l-2-1.478l-.959.934c-.112.109-.2.2-.4.2c-.259 0-.216-.097-.303-.344L5.55 9.084l-1.978-.616c-.428-.131-.431-.425.097-.634l7.706-2.975c.35-.159.691.084.556.625"
                    ></path></svg
                >
            </a>
        </p>
    </section>

    <FooterAccordion heading="pages" list={targets.pages} />
    <FooterAccordion heading="services" list={targets.services} />
    <FooterAccordion heading="clients" list={targets.clients} />
</footer>

<div class="last">
    <span> &copy; 2024 All rights reserved</span>
    <span> Designed & Coded by nthadrien.</span>
</div>

<style>
    footer {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        gap: 1rem;
    }

    section {
        flex-basis: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
    }

    a {
        margin-right: 12px;
    }

    .last {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: 0.6em;
        border-top: 1px solid var(--cm-clr);
        max-width: var(--max-wd, 900px);
        margin: 0 auto;
        padding: 1rem;
        border-radius: 30px;
        font-size: smaller;
    }

    @media (min-width: 640px) {
        footer,
        .last {
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        section {
            min-width: 20%;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .last {
            border-radius: 0.8em;
        }
    }
</style>
