---
import BaseLayout from "./Layout.astro";
const { frontmatter  } = Astro.props;
---

<BaseLayout title={frontmatter.title} image={frontmatter.image} description={frontmatter.description}>
  <h1 class="tx-cn">{frontmatter.title}</h1>
  <p class="tx-cn" ><em>{frontmatter.description}</em></p>
  <p class="tx-cn" >Written by: {frontmatter.author}</p>
  <main class="content container">
    <slot />
    <p style="margin: 16px auto;" class="tx-cn">
      <button class="btn" onclick="history.go(-1)" >❮❮ revenir</button>
    </p>
  </main>
</BaseLayout>